* {
  box-sizing: border-box;
  font-family: Caudex;
}

* {
  border: 0.5px solid blueviolet;
}

html, body, main, #characterSheet {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body, main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: rgb(175, 157, 117);
}

#characterSheet {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  max-width: 1250px;
  max-height: 1250px;
}

.concCircle {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 50%;
}

#outerCircle {
  width: 100%;
  height: 100%;
}

#bonusCircle {
  width: 50%;
  height: 50%;
}

#abilityCircle {
  width: 65%;
  height: 65%;
}

#nameCircle {
  width: 60%;
  height: 60%;
  flex-direction: column;
}

#characterNamePrompter {
  margin-bottom: 15px;
}

#characterNameForm {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

#characterNameInputter {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  text-align: center;
}

#characterNameInputter::placeholder {
  color: rgb(175, 157, 117)
}



/* ### ### ### ### ### ### ### ### ### ### ### */
/* Add in later */

/* header {
  position: fixed;
  width: 100%;
  height: 100px;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 2vw;
} */

